.navbar {
  /* max-width: 100%; */
  position: sticky;
  top: 0;
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding: 0px 20px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar-container {
  width: 100%;
  margin: 0 auto;
  /* padding: 10px 0px; */
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 230px;
  height: auto;
  font-size: 50px;
  /* background: #111; */
  border-radius: 6px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
}

.logo-image {
  width: 230px !important;
  height: 40px !important;
  object-fit: cover;
  object-position: top;
}

.navbar-logo {
  width: 230px;
  overflow: hidden;
  height: auto;
  /* background: rgba(10, 10, 10, 0.75); */
  backdrop-filter: blur(8px);
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px !important;
  height: 52px !important;
  object-fit: cover !important;
  object-position: top !important;
  /* filter: brightness(0) saturate(100%); */
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding-top: 20px;
}

.nav-menu a {
  color: #666;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #3b5bdb;
}

.contact-sales-btn {
  background: #1a1a2e;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition:  0.4s;
}
.contact-sales-btn a{
  text-decoration: none;
  color: white;
}
.contact-sales-btn:hover{
  transform: scale(1.1);
}

.contact-sales-btn:hover a{
  color: whitesmoke;
}

/* .mobile-menu-btn {
      display: none;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      margin-bottom: 500px;
    } */

.mobile-menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-btn-div {
  display: flex;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }

  .navbar-container {
    padding: 0px 0px !important;
    padding-bottom: 10px !important;
  }

  .mobile-menu-btn {
    display: block;
  }
  .navbar-btn-div {
    padding-top: 10px;
    display: flex ;
    /* flex-direction: column; */
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .contact-sales-btn {
    /* margin-left: 50px; */
    padding: 0.5rem 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  }

  .nav-menu.active {
    display: flex;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}
