.register-page {
  min-height: 100vh;
  display: flex;
  background: #f5f7fb;
  font-family: "Inter", sans-serif;
}

/* LEFT IMAGE */
.register-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 180px;
}

.register-left img {
  max-width: 80%;
  height: auto;
}

/* RIGHT FORM */
.register-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}

.register-card {
  background: #ffffff;
  width: 400px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.register-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4f46e5;
  font-size: 20px;
  font-weight: 800;
}

/* INPUTS */
.register-card label {
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
  display: block;
}

.register-card input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 4px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
}

.register-card input:focus {
  border-color: #4f46e5;
}

/* BUTTON */
.register-btn {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  background: linear-gradient(to right, #4f46e5, #9333ea);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.register-btn:hover {
  opacity: 0.9;
}

/* LOGIN LINK */
.login-link {
  text-align: center;
  font-size: 13px;
  margin-top: 16px;
}

.login-link span {
  color: #4f46e5;
  cursor: pointer;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .register-left {
    display: none;
  }
}
